<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Chat Room</h1>
        <p>This page is under development, but you can try it <b>anyway !</b></p>
        <p>Chat Messages were showed in console</p>
        <form id="msg-form">
            <input name="msg" placeholder="Type message here" >
            <button>Send</button>   
        </form>
        <br>
        <button id="send-location">Send Location</button>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/chat.js"></script>
    </body>
</html>