.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}
@media (max-width: 1200px) {
  html {
    font-size: 95%;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 83%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 65%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #161d22;
  line-height: 1.7;
  color: #83939f;
  position: relative;
  box-sizing: border-box;
}

.title {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 1.8rem;
}

@media (max-width: 360px) {
  .title {
    margin-top: 1rem;
  }
}

.title__text {
  color: white;
  width: 60%;
  font-weight: 700;
  font-style: inherit;
}

.btn {
  /* : operator defines some state of of element, as here it defines link state and visited state */
}
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.2rem 2rem;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 8rem;
  position: relative;
  font-size: inherit;
  border: none;
  cursor: pointer;
}
@media (max-width: 400px) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 300px) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  /* this is a psuedo element of that time when btn is hover */
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: white;
  color: gray;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #006eff;
  color: white;
}
.btn--green::after {
  background-color: #006eff;
}
.btn--green-popup {
  display: inline-block;
  padding: 1rem;
  color: white;
  background-color: #006eff;
}
.btn--green-popup:hover {
  background-color: green;
}

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.61);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__close:link,
.popup__close:visited {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: #83939f;
  font-size: 1.7rem;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}
.popup__close:link:hover,
.popup__close:visited:hover {
  color: red;
}
.popup__content {
  width: 75%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.226);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
  border-radius: 3px;
  display: table;
  overflow: hidden;
}
.popup__content-mini {
  width: 33%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.226);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
  border-radius: 3px;
  display: table;
  overflow: hidden;
}
.popup__left {
  width: 33.333333%;
  display: table-cell;
}
.popup__right {
  background-image: linear-gradient(to right, #eee, #eee);
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 2rem 4rem;
}
.popup__right__heading {
  color: #83939f;
  margin-bottom: 1rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup:target .popup__content-mini {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link,
.popup__close:visited {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: #83939f;
  font-size: 1.7rem;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}
.popup__close:link:hover,
.popup__close:visited:hover {
  color: red;
}

.nav {
  background-color: #1c252c;
  width: 100%;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.4);
}
.nav__logo-box {
  margin-left: 10rem;
  float: left;
  padding: 1.3rem 1rem;
  width: 40%;
}
@media (max-width: 890px) {
  .nav__logo-box {
    margin-left: 5rem;
  }
}
@media (max-width: 700px) {
  .nav__logo-box {
    margin-left: 3rem;
  }
}
@media (max-width: 600px) {
  .nav__logo-box {
    margin-left: 2rem;
    float: left;
    padding: 1.3rem 1rem;
    width: 79%;
  }
}
@media (max-width: 300px) {
  .nav__logo-box {
    margin-left: 1rem;
    float: left;
    padding: 1.3rem 1rem;
    width: 79%;
  }
}
.nav__logo {
  height: 2.5rem;
}
.nav__text {
  font-weight: 700;
  font-family: cursive;
  color: white;
  display: inline;
  padding-left: 1rem;
  vertical-align: text-bottom;
  font-size: 1.5rem;
}
.nav__list {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 8rem;
  margin-left: 10rem;
  display: inline-block;
}
@media (max-width: 1380px) {
  .nav__list {
    margin-right: 0.5rem;
    margin-left: 8rem;
  }
}
@media (max-width: 1150px) {
  .nav__list {
    margin-right: 0rem;
    margin-left: 4.5rem;
  }
}
@media (max-width: 700px) {
  .nav__list {
    margin-left: 1.8rem;
  }
}
@media (max-width: 600px) {
  .nav__list {
    float: none;
    margin-top: 0.7rem;
    display: none;
    margin-left: 1.5rem;
  }
}
@media (max-width: 400px) {
  .nav__list {
    float: none;
    margin-top: 0.6rem;
    display: none;
    margin-left: 4.5rem;
  }
}
@media (max-width: 300px) {
  .nav__list {
    float: none;
    margin-top: 0.7rem;
    display: none;
    margin-left: 3rem;
  }
}
.nav__list-link {
  list-style: none;
  text-decoration: none;
  color: #83939f;
}
.nav__list-link span {
  border: 1px solid #83939f;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
}
.nav__list-link:hover {
  color: white;
}
.nav__item {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.1rem;
}
@media (max-width: 600px) {
  .nav__item {
    display: block;
    border-bottom: 1px white solid;
    margin-top: 0rem;
  }
}
@media (max-width: 400px) {
  .nav__item {
    display: block;
    width: 50%;
    border-bottom: 1px #83939f solid;
    margin-top: 0rem;
  }
}
@media (max-width: 300px) {
  .nav__item {
    display: block;
    width: 50%;
    border-bottom: 1px #83939f solid;
    margin-top: 0rem;
  }
}
.icon-menu {
  color: #83939f;
  margin-top: 1.01rem;
  margin-left: 1.5rem;
  font-size: 3.5rem;
  display: none;
}
@media (max-width: 600px) {
  .icon-menu {
    display: block;
    margin-right: 1rem;
  }
}

.header {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(
      to top,
      #161d22 2%,
      #161d22ee 10%,
      #161d22e3 20%,
      #161d2200 50%
    ),
    url(../img/free_fire.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
}
@media (max-width: 400px) {
  .header {
    height: 60vh;
  }
}
@media (max-width: 300px) {
  .header {
    height: 50vh;
  }
}
.header__text-box {
  transform: translateY(80%);
  position: absolute;
  top: 60%;
  left: 10%;
}
@media (max-width: 400px) {
  .header__text-box {
    top: 40%;
    left: 6%;
  }
}
@media (max-width: 360px) {
  .header__text-box {
    top: 30%;
    left: 6%;
  }
}
@media (max-width: 300px) {
  .header__text-box {
    top: 1%;
  }
}
.header__text-box .primary-text {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}
@media (max-width: 400px) {
  .header__text-box .primary-text {
    font-size: 1.8rem;
  }
}
@media (max-width: 360px) {
  .header__text-box .primary-text {
    font-size: 1.6rem;
  }
}
@media (max-width: 300px) {
  .header__text-box .primary-text {
    font-size: 1.7rem;
  }
}
.header__text-box .secondary-text {
  color: #83939f;
  width: 60%;
}
@media (max-width: 400px) {
  .header__text-box .secondary-text {
    width: 90%;
  }
}
@media (max-width: 300px) {
  .header__text-box .secondary-text {
    width: 90%;
  }
}

.cards {
  margin: 3rem 10rem;
}
@media (max-width: 300px) {
  .cards {
    margin: 1rem 2rem;
  }
}

@media (max-width: 400px) {
  .cards {
    margin: 1rem 2rem;
  }
}

.cards__box {
  background-color: #222d35;
  border-radius: 5px;
  margin-bottom: 2rem !important;
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
}
.cards__box h2 {
  color: white;
}
.cards__box:hover {
  transform: translateY(-6px);
}
.cards__box-img {
  background-color: #fff;
  width: 100%;
  height: 12rem;
  overflow: hidden;
  background-size: cover;
}
.cards__box-heading {
  margin: 1rem;
}
.cards__box-details {
  display: inline-block;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}
.cards__box-detail {
  vertical-align: middle;
  font-size: 1rem;
  text-align: center;
}
.cards__box-detail span {
  padding-bottom: 0.3rem;
}
.cards__box-button {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  box-shadow: 0 5px 20px #efefef8a;
}
.cards__box-btn {
  color: white;
  display: inline-block;
  text-align: center;
  width: 5rem;
  height: 2rem;
  text-decoration: none;
  background-color: #006eff;
  font-size: 0.8rem;
  padding: 0.3rem;
  float: right;
  border-radius: 5px;
}

.icon {
  color: #83939f;
  margin-right: 0.2rem;
}
.icon-trophy {
  margin-left: 1.5rem;
  font-size: 1.2rem;
  color: yellow;
}

.section-book {
  padding: 10rem 7rem;
  background-image: linear-gradient(to right bottom, #222d35, #222d35);
}
@media (max-width: 400px) {
  .section-book {
    padding: 2rem 2rem;
  }
}
@media (max-width: 300px) {
  .section-book {
    padding: 2rem 2rem;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url('../img/pubg-form-1.jpg');
  background-size: 100%;
  height: 35rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-bottom: 5rem;
}
@media (max-width: 400px) {
  .book {
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 58%,
        transparent 50%
      ),
      url('../img/pubg-form-1.jpg');
    height: 30rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .book {
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 58%,
        transparent 50%
      ),
      url('../img/pubg-form-1.jpg');
    height: 30rem;
    margin-bottom: 2rem;
  }
}
.book__form {
  padding: 2rem;
  width: 70%;
}
@media (max-width: 400px) {
  .book__form {
    padding: 1rem;
    width: 62%;
  }
}
@media (max-width: 300px) {
  .book__form {
    padding: 1rem;
    width: 65%;
  }
}
.book__form .title .title__text {
  color: black;
}
.book__form__title {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 400px) {
  .book__form__title {
    font-size: 1rem;
    margin-top: 0rem;
  }
}
@media (max-width: 300px) {
  .book__form__title {
    font-size: 1rem;
    margin-top: 0rem;
  }
}
.book__form__title__text {
  color: black;
  width: 60%;
  font-weight: 700;
  font-style: inherit;
}
@media (max-width: 400px) {
  .book__form__title__text {
    width: 140%;
  }
}
@media (max-width: 300px) {
  .book__form__title__text {
    width: 140%;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input {
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  width: 68%;
  transition: all 0.3s;
}
@media (max-width: 400px) {
  .form__input {
    font-size: 0.9rem;
  }
}
@media (max-width: 300px) {
  .form__input {
    font-size: 0.9rem;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid green;
}
.form__input:focus:invalid {
  border-bottom: 3px solid red;
}
.form__input::-webkit-input-placeholder {
  color: gray;
}

.form__radio-input {
  display: none;
}

.form__label {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}

.form__radio-group {
  display: inline-block;
  width: 49%;
}

.form__radio-label {
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
}

.form__radio-button {
  width: 1rem;
  height: 1rem;
  border: 5px solid green;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0;
}
.form__radio-button::after {
  content: '';
  height: 0.5rem;
  display: block;
  width: 0.5rem;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.form__group-last {
  display: inline-block;
  margin-right: 1rem;
}
.form__group-last__link {
  text-decoration: none;
  transition: all 0.2s;
  font-size: 1.2rem;
}
.form__group-last__link:hover {
  color: red;
}

.footer {
  background-color: #1c252c;
  padding: 3rem 0;
  font-size: 1rem;
  color: #83939f;
}
@media (max-width: 400px) {
  .footer {
    font-size: 0.9rem;
    padding: 1rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 4rem;
}
@media (max-width: 400px) {
  .footer__logo-box {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
.footer__logo {
  width: 5rem;
  height: auto;
}
@media (max-width: 400px) {
  .footer__logo {
    width: 5rem;
  }
}
.footer__navigation {
  border-top: 1px solid #1c252c;
  padding-top: 1rem;
  display: inline-block;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1rem;
}
.footer__link:link,
.footer__link:visited {
  color: #83939f;
  background-color: #1c252c;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
.footer__link:hover,
.footer__link:active {
  color: #3498db;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #1c252c;
  padding-top: 1rem;
  width: 80%;
  float: right;
}
@media (max-width: 400px) {
  .footer__copyright {
    width: 100%;
  }
}
.footer__row {
  margin: 2rem 10rem;
}
@media (max-width: 400px) {
  .footer__row {
    margin: 1rem 2rem;
  }
}

.how_to-outer {
  background-color: #222d35;
}
.how_to-inner {
  margin: 3rem 10rem;
  padding: 4rem 0.5rem;
}
@media (max-width: 400px) {
  .how_to-inner {
    margin: 1rem 2rem;
    padding: 1rem 0.5rem;
  }
}
@media (max-width: 300px) {
  .how_to-inner {
    margin: 1rem 2rem;
    padding: 1rem 0.5rem;
  }
}

/* ----------------detail page styling-------------------------------------------------------------------------------------------------- */
.detail {
  margin: 1rem 6rem;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 400px) {
  .detail {
    margin: 1rem 2rem;
    padding: 1rem 2rem;
  }
}
.detail__features {
  padding: 0.2rem 2rem;
}
.detail__feature {
  padding: 0.2rem 0rem;
  font-size: 1.3rem;
}
.detail__left {
  border-right: 1px solid #83939f;
}
.detail__right {
  padding-left: 3rem;
}

/* .purchase {
  margin: 4rem 6rem;
  padding: 0.2rem 4rem;
  height: 20rem;
  position: relative;
  cursor: pointer;
}
.purchase__img {
  width: 20%;
  height: 100%;
  background-size: cover;
  display: inline-block;
}
.purchase__btn {
  display: inline-block;
  position: absolute;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
}
.purchase__btn a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
.purchase__btn-buy {
  bottom: 1%;
  left: 30%;
  background-image: linear-gradient(to left, red, #ff7300);
}
.purchase__btn-roomId {
  bottom: 1%;
  left: 41%;
  background-image: linear-gradient(to left, #80006b, #cc00ff);
}
.purchase__btn-chat {
  bottom: 1%;
  left: 54%;
  background-image: linear-gradient(to left, #0059ff, #044164);
}
.purchase__timer {
  vertical-align: middle;
  position: absolute;
  display: inline-block;
  top: 2%;
  left: 30%;
  color: white;
}
.purchase__timer-text {
  font-size: 1.4rem;
}
.purchase__timer-time {
  font-size: 2rem;
}
.purchase__fee {
  vertical-align: middle;
  position: absolute;
  display: inline-block;
  top: 25%;
  left: 33%;
  color: white;
}
.purchase__fee-text {
  color: green;
  font-size: 1.5rem;
}
.purchase__fee-fee {
  color: white;
  font-size: 1.5rem;
}
.purchase__price {
  vertical-align: top;
  position: absolute;
  display: inline-block;
  top: 40%;
  left: 33%;
}
.purchase__price-text {
  color: yellow;
  font-size: 2.5rem;
}
.purchase__price-price {
  color: white;
  font-size: 1.5rem;
}

.icon-cash-2 {
  font-size: 3rem;
  color: green !important;
  vertical-align: middle;
  position: absolute;
  display: inline-block;
  top: 25%;
  left: 28%;
  color: white;
}

.icon-trophy-2 {
  font-size: 3rem;
  color: yellow !important;
  vertical-align: middle;
  position: absolute;
  display: inline-block;
  top: 44%;
  left: 28%;
  color: white;
} */

.purchase_section {
  background-color: #222d35;
}

.purchase {
  display: flex;
  margin: 4rem 6rem;
  padding: 0.2rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .purchase {
    margin: 4rem 0rem;
  }
}
@media only screen and (max-width: 332px) {
  .purchase {
    margin: 4rem 0rem;
    padding: 0.2rem 0rem;
  }
}

.purchase__detail {
  margin: 2rem;
}
.purchase__imgbox {
  width: 15rem;
  height: 20rem;
  margin: 2rem;
  background-size: cover;
  display: inline-block;
}
.purchase__imgbox-img {
  background-size: cover;
  height: 100%;
}
.purchase__btn {
  display: inline-block;
  margin: 0.2rem 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
.purchase__btn-buy {
  background-image: linear-gradient(to left, red, #ff7300);
}
.purchase__btn-roomId {
  background-image: linear-gradient(to left, #80006b, #cc00ff);
}
.purchase__btn-chat {
  background-image: linear-gradient(to left, #0059ff, #044164);
}
.purchase__timer {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  border-bottom: 1px white solid;
  color: white;
}
.purchase__timer-text {
  font-size: 1.4rem;
}
.purchase__timer-time {
  font-size: 1.6rem;
}
.purchase__fee {
  display: block;
  color: white;
  margin: 2rem;
}
.purchase__fee-text {
  color: green;
  font-size: 1.8rem;
}
.purchase__fee-fee {
  color: white;
  font-size: 1.8rem;
}
.purchase__price {
  display: block;
  margin: 2rem;
}
.purchase__price-text {
  color: yellow;
  font-size: 1.8rem;
}
.purchase__price-price {
  color: white;
  font-size: 1.8rem;
}

.icon-cash-2 {
  color: green;
}

.icon-trophy-2 {
  color: yellow;
}

.players {
  margin: 1rem 8rem;
}
@media only screen and (max-width: 400px) {
  .players {
    margin: 1rem 2rem;
  }
}
.players table {
  border-collapse: collapse;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.players table th {
  padding-left: 5px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: left;
  font-size: 1.5rem;
  border-bottom: 1px solid #83939f;
  color: white;
}
.players table td {
  padding-left: 5px;
  text-align: left;
  font-size: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #83939f;
}
.players table tr:nth-child(even) {
  background-color: #222d35;
}
/* ----------------detail page styling-------------------------------------------------------------------------------------------------- */
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem 3rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
#test {
  color: white;
  display: none;
  height: 0px;
}
